/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* use apply to add darkmode to element? */

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .btn-disabled {
    @apply opacity-50 cursor-not-allowed
  }
}



/* refactor this to other file or logic */
h1 {
  font-size: 3.8vmin;
}

h2 {
  font-size: 3.2vmin;
}

h3 {
  font-size: 2.8vmin;
}

h4 {
  font-size: 2.4vmin;
}

h5 {
  font-size: 2.0vmin;

}

h6 {
  font-size: 1.6vmin;
}

p {
  font-size: 1.2vmin;
}