/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

h1 {
  font-size: 3.8vmin;
}

h2 {
  font-size: 3.2vmin;
}

h3 {
  font-size: 2.8vmin;
}

h4 {
  font-size: 2.4vmin;
}

h5 {
  font-size: 2.0vmin;

}

h6 {
  font-size: 1.6vmin;
}

p {
  font-size: 1.2vmin;
}